<h1>Data Structures</h1>

<p>In computer science, a data structure is a particular way of organizing data in a computer so that it can be used efficiently.</p>

<p>Different kinds of data structures are suited to different kinds of applications, and some are highly specialized to specific tasks. For example, databases use B-tree indexes for small percentages of data retrieval and compilers and databases use dynamic hash tables as look up tables.</p>

<p>Data structures provide a means to manage large amounts of data efficiently for uses such as large databases and internet indexing services. Usually, efficient data structures are key to designing efficient algorithms. Some formal design methods and programming languages emphasize data structures, rather than algorithms, as the key organizing factor in software design. Storing and retrieving can be carried out on data stored in both main memory and in secondary memory.</p>

<p>For this project we're going to take a closer look at <%= link_to("stacks", stack_path) %>, <%= link_to("queues", queue_path) %>, and <%= link_to("linked lists", linkedlist_path) %>.


